@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed&family=Unbounded&display=swap");

.App {
  text-align: center;
  min-height: 100vh;
}

body {
  background-color: rgb(11, 2, 22) !important;
  color: white !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif !important;
}
.billheader-bg {
  background-color: rgb(58, 34, 87) !important;
}

.blurdiv {
  position: fixed;
  z-index: 1;
  top: 50%;
  right: 50%;
  transform: translate(-50%, 0%);
  width: 800px;
  height: 80px;
  border-radius: 50% 22% 40% 80%;
  filter: blur(100px);
  background: radial-gradient(
    circle at 50% 50%,
    rgba(76, 0, 255, 1),
    rgba(76, 0, 255, 0)
  );
  opacity: 0.6;
}
.blurdiv2 {
  z-index: 1;
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 800px;
  height: 80px;
  border-radius: 50% 22% 40% 80%;
  filter: blur(100px);
  background: radial-gradient(
    circle at 50% 50%,
    rgba(76, 0, 255, 1),
    rgba(76, 0, 255, 0)
  );
  opacity: 0.6;
}
